.Controls {
  position: absolute;
  top: 0;
  right: 0;
  width:300px;
  border: 2px #D0D0D0 dashed;
  border-radius: 5px;
  background-color: #EFEFEF;
  padding: 15px;
  margin: 15px;
  opacity: 25%;
}

.Controls:hover {
  opacity: 100%;
}

.Controls p {
  padding: 0;
  margin: 0 0 0.5rem;
}

body, html, div#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

div.App {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

div.Loading {
  z-index: 1000;
  color: #EFEFEF;
  font-size: 2rem;
  flex-direction: column;
}

div.Loading p {
  padding: 2rem;
}