.Controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  margin: 16px;
  opacity: 0.25;
}

.Controls:hover {
  opacity: 1;
}

.Controls p.Details {
  padding: 0;
  margin: 0 0 0.5rem;
}

body, html, div#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

div.App {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

div.Loading {
  z-index: 1000;
  color: #EFEFEF;
  font-size: 2rem;
  flex-direction: column;
}

div.Loading p {
  padding: 2rem;
}

img.SourceImage {
  max-width: 100%;
}

div.WallpaperContainer {
  /* set line-height to avoid extra space after the wallpaper <canvas> */
  line-height: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

.ControlFormItem {
  width: 100%;
  margin-top: 16px;
}

.FullWidth {
  width: 100%;
}

button.ZoomToggle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 32px;
}

canvas {
  box-shadow: 0 0 30px #808080;
}